#include "Lang.inc"

#pragma code_page(950)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE DISCARDABLE
BEGIN
	sTranslatorAuthorCapt	"翻譯: "
	sTranslatorAuthorName	"風鈴夜思雨"
	sDefaultFont	"MS Sans Serif,8,,0,clWindowText,DEFAULT_CHARSET"
	sCurrFont	"新細明體,9,,0,clWindowText,CHINESEBIG5_CHARSET"
	sVersionCapt	"版本: "
	sAuthorCapt	"作者: "
	s_CopyRight	"版權所有 (C) 2004 楓葉在線"
	s_Author	"風鈴夜思雨"
	sAbout	"關于"
	stbOpen	"打開"
	smmOpen	"打開(&O)"
	stbClose	"關閉"
	smmClose	"關閉(&C)"
	stbSelAll	"全選"
	smmSelAll	"全選(&A)"
	stbUnSel	"反選"
	smmUnSel	"反選(&U)"
	stbExtract	"提取"
	smmExtract	"提取到(&G)"
	stbOnTop	"置頂"
	smmOnTop	"窗口至頂顯示(&T)"
	stbLog	"日志"
	smmLog	"日志顯示(&L)"
	stbHelp	"幫助"
	smmHelp	"幫助(&H)"
	stbAbout	"關于"
	smmAbout	"關于(&A)"
	stbExit	"退出"
	smmExit	"退出(&E)"
	sAssMenu	"關聯右鍵菜單(&M)"
	sCopy	"復制(&C)"
	sCleanLog	"清空日志(&L)"
	sLogSaveAs	"日志另存為(&S)"
	sCleanhistory	"清空歷史(&C)"
	sFileName	"檔案名稱"
	sFileSize	"大小"
	sFileType	"類型"
	sFileTime	"時間"
	sFilePath	"路徑"
	sUnknownType	"未知類型"
	sError	"錯誤"
	sIncorrectPwd	"密碼錯誤"
	sReading	"正在讀取..."
	sReadPP	"正在讀取片斷"
	sExtracting	"正在提取..."
	sReady	"就緒..."
	sInstScript	"安裝腳本.iss"
	sSelitem	"選定項目: "
	sAppendParam	"附加參數："
	sLogFilter	"日志檔案 (*.log)|*.log|文本文檔 (*.txt)|*.txt|所有檔案 (*.*)|*.*"
	sDlgCapt	"選擇 Inno Setup 安裝程序"
	sExeFilter	"Inno Setup EXE 檔案 (*.exe)|*.exe|所有檔案 (*.*)|*.*"
	sOpenErr	"打開錯誤，沒找到innounp.exe檔案，請把innounp.exe放置于本程序目錄下。"
	sVerDetected	"檢測到版本號"
	sErrCreatPipe	"創建管道時出現錯誤。"
	sCommand	"命令："
	sFCProcess	"無法創建進程。"
	sUsage	"用法:"
	sCorrupted	"損壞"
	sFailed	"失敗"
	sDestPath	"目標路徑(如果不存在將被創建)："
	sExtraDestDir	"提取完成后打開目標目錄(&T)"
	sShowPath	"顯示(&D)"
	sOK	"確定(&O)"
	sCancel	"取消(&C)"
	sPathWStr	"路徑不能為空或路徑中包含有無效字符。"
	sWrongPwd	"密碼錯誤"
	sFindNotFile	"; 無法找到一個必要的檔案:"
END
