#include "Lang.inc"

#pragma code_page(1252)
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN
	sTranslatorAuthorCapt	"English trans.: "
	sTranslatorAuthorName	"equis (ru-board.com)"
	sDefaultFont	"MS Sans Serif,8,,0,clWindowText,DEFAULT_CHARSET"
	sCurrFont	"MS Sans Serif,8,,0,clWindowText,DEFAULT_CHARSET"
	sVersionCapt	"Version: "
	sAuthorCapt	"Author: "
	s_CopyRight	"Copyright (C) 2004 SkyGz.Com"
	s_Author	"Laihongbo"
	sAbout		"About"
	stbOpen		"Open"
	smmOpen		"&Open"
	stbClose	"Close"
	smmClose	"&Close"
	stbSelAll	"Select All"
	smmSelAll	"Select &All"
	stbUnSel	"Unselect"
	smmUnSel	"&Unselect"
	stbExtract	"Extract"
	smmExtract	"&Extract to"
	stbOnTop	"On Top"
	smmOnTop	"Always On &Top"
	stbLog		"Log"
	smmLog		"Show &Log"
	stbHelp		"Help"
	smmHelp		"&Help"
	stbAbout	"About"
	smmAbout	"&About"
	stbExit		"Exit"
	smmExit		"&Exit"
	sAssMenu	"Add to context &menu"
	sCopy		"&Copy"
	sCleanLog	"Clear &Log"
	sLogSaveAs	"&Save Log As"
	sCleanhistory	"&Clear History"
	sFileName	"File Name"
	sFileSize	"Size"
	sFileType	"Type"
	sFileTime	"Time"
	sFilePath	"Path"
	sUnknownType	"Unknown Type"
	sError		"Error"
	sIncorrectPwd	"Incorrect Password"
	sReading	"Reading..."
	sReadPP		"Reading slice "
	sExtracting	"Extracting..."
	sReady		"Ready..."
	sInstScript	"install_script.iss"
	sSelitem	"Selected Items: "
	sAppendParam	"Additional parameter: "
	sLogFilter	"Log Files (*.log)|*.log|Text Files (*.txt)|*.txt|All Files (*.*)|*.*"
	sDlgCapt	"Select Inno Setup installation"
	sExeFilter	"Inno Setup EXE Files (*.exe)|*.exe|All Files (*.*)|*.*"
	sOpenErr	"Error opening file. Could not find innounp.exe."
	sVerDetected	"Version detected"
	sErrCreatPipe	"There was an error creating the pipe."
	sCommand	"Command: "
	sFCProcess	"Could not Create Process."
	sUsage		"Usage:"
	sCorrupted	"corrupted"
	sFailed		"failed"
	sDestPath	"Path to extract (create if not found): "
	sExtraDestDir	"Open folder after ex&tracting items"
	sShowPath	"&Show path"
	sOK		"&OK"
	sCancel		"&Cancel"
	sPathWStr	"Path cannot be empty or the path contains invalid characters."
	sWrongPwd	"Wrong password"
	sFindNotFile	"; Could not find the necessary file:"
END