#include "Lang.inc"

#pragma code_page(1251)
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN
	sTranslatorAuthorCapt	"Локализация: "
	sTranslatorAuthorName	"equis (ru-board.com)"
	sDefaultFont	"MS Sans Serif,8,,0,clWindowText,DEFAULT_CHARSET"
	sCurrFont	"MS Sans Serif,8,,0,clWindowText,DEFAULT_CHARSET"
	sVersionCapt	"Версия: "
	sAuthorCapt	"Автор: "
	s_CopyRight	"Copyright (C) 2004 SkyGz.Com"
	s_Author	"Laihongbo"
	sAbout		"О программе"
	stbOpen		"Открыть"
	smmOpen		"&Открыть"
	stbClose	"Закрыть"
	smmClose	"&Закрыть"
	stbSelAll	"Выделить все"
	smmSelAll	"Выделить &все"
	stbUnSel	"Снять выделение"
	smmUnSel	"&Снять выделение"
	stbExtract	"Извлечь"
	smmExtract	"&Извлечь в"
	stbOnTop	"Закрепить"
	smmOnTop	"Поверх всех &окон"
	stbLog		"Журнал"
	smmLog		"Показать &журнал"
	stbHelp		"Помощь"
	smmHelp		"&Помощь"
	stbAbout	"О программе"
	smmAbout	"&О программе"
	stbExit		"Выход"
	smmExit		"&Выход"
	sAssMenu	"Добавить в контекстное &меню"
	sCopy		"&Копировать"
	sCleanLog	"Очистить &журнал"
	sLogSaveAs	"&Сохранить журнал как"
	sCleanhistory	"&Очистить историю"
	sFileName	"Имя файла"
	sFileSize	"Размер"
	sFileType	"Тип"
	sFileTime	"Дата"
	sFilePath	"Путь"
	sUnknownType	"Неизвестный тип"
	sError		"Ошибка"
	sIncorrectPwd	"Неверный пароль"
	sReading	"Чтение..."
	sReadPP		"Чтение фрагмента..."
	sExtracting	"Извлечение..."
	sReady		"Готово..."
	sInstScript	"сценарий_установки.iss"
	sSelitem	"Выделено файлов: "
	sAppendParam	"Доп. параметры: "
	sLogFilter	"Файлы журнала (*.log)|*.log|Текстовые файлы (*.txt)|*.txt|Все файлы (*.*)|*.*"
	sDlgCapt	"Файлы инсталлятора Inno Setup"
	sExeFilter	"Файлы инсталлятора Inno Setup (*.exe)|*.exe|Все файлы (*.*)|*.*"
	sOpenErr	"Не удается открыть файл. Отсутствует innounp.exe."
	sVerDetected	"Обнаружена версия"
	sErrCreatPipe	"Не удалось создать канал."
	sCommand	"Команда: "
	sFCProcess	"Не удалось инициировать процесс."
	sUsage		"Информация:"
	sCorrupted	"поврежден"
	sFailed		"невыполнимая операция"
	sDestPath	"Папка для извлечения (создать если отсутствует): "
	sExtraDestDir	"Открыть папку после &извлечения файлов"
	sShowPath	"&Показать путь"
	sOK		"&OK"
	sCancel		"&Отмена"
	sPathWStr	"Поле не может быть пустым или содержит недопустимые символы."
	sWrongPwd	"Неверный пароль"
	sFindNotFile	"; Не удалось найти нужный файл:"
END