#include "Lang.inc"

#pragma code_page(936)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE DISCARDABLE
BEGIN
	sTranslatorAuthorCapt	"翻译: "
	sTranslatorAuthorName	"风铃夜思雨"
	sDefaultFont	"MS Sans Serif,8,,0,clWindowText,DEFAULT_CHARSET"
	sCurrFont	"宋体,9,,0,clWindowText,GB2312_CHARSET"
	sVersionCapt	"版本: "
	sAuthorCapt	"作者: "
	s_CopyRight	"版权所有 (C) 2004 枫叶在线"
	s_Author	"风铃夜思雨"
	sAbout	"关于"
	stbOpen	"打开"
	smmOpen	"打开(&O)"
	stbClose	"关闭"
	smmClose	"关闭(&C)"
	stbSelAll	"全选"
	smmSelAll	"全选(&A)"
	stbUnSel	"反选"
	smmUnSel	"反选(&U)"
	stbExtract	"提取"
	smmExtract	"提取到(&G)"
	stbOnTop	"置顶"
	smmOnTop	"窗口至顶显示(&T)"
	stbLog	"日志"
	smmLog	"日志显示(&L)"
	stbHelp	"帮助"
	smmHelp	"帮助(&H)"
	stbAbout	"关于"
	smmAbout	"关于(&A)"
	stbExit	"退出"
	smmExit	"退出(&E)"
	sAssMenu	"关联右键菜单(&M)"
	sCopy	"复制(&C)"
	sCleanLog	"清空日志(&L)"
	sLogSaveAs	"日志另存为(&S)"
	sCleanhistory	"清空历史(&C)"
	sFileName	"文件名称"
	sFileSize	"大小"
	sFileType	"类型"
	sFileTime	"时间"
	sFilePath	"路径"
	sUnknownType	"未知类型"
	sError	"错误"
	sIncorrectPwd	"密码错误"
	sReading	"正在读取..."
	sReadPP	"正在读取片断"
	sExtracting	"正在提取..."
	sReady	"就绪..."
	sInstScript	"安装脚本.iss"
	sSelitem	"选定项目: "
	sAppendParam	"附加参数："
	sLogFilter	"日志文件 (*.log)|*.log|文本文档 (*.txt)|*.txt|所有文件 (*.*)|*.*"
	sDlgCapt	"选择 Inno Setup 安装程序"
	sExeFilter	"Inno Setup EXE 文件 (*.exe)|*.exe|所有文件 (*.*)|*.*"
	sOpenErr	"打开错误，没找到innounp.exe文件，请把innounp.exe放置于本程序目录下。"
	sVerDetected	"检测到版本号"
	sErrCreatPipe	"创建管道时出现错误。"
	sCommand	"命令："
	sFCProcess	"无法创建进程。"
	sUsage	"用法:"
	sCorrupted	"损坏"
	sFailed	"失败"
	sDestPath	"目标路径(如果不存在将被创建)："
	sExtraDestDir	"提取完成后打开目标目录(&T)"
	sShowPath	"显示(&D)"
	sOK	"确定(&O)"
	sCancel	"取消(&C)"
	sPathWStr	"路径不能为空或路径中包含有无效字符。"
	sWrongPwd	"密码错误"
	sFindNotFile	"; 无法找到一个必要的文件:"
END