/* PAD Cascading Style Sheet by Jan Albartus - www.albartus.com */

body{background-color:#fff;border:0px;margin:10px;font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";font-size:80%;font-weight:normal;color:#000000;}
h2{margin:0px;padding:5px 0px;font-size:140%;}
p{margin:0px;padding:5px 0px;}
