#pragma code_page(950)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE DISCARDABLE
BEGIN
	100	"innounp, Inno Setup Unpacker %s 增強版 %s"
	101	"修改者：風鈴夜思雨 構建于：%s"
	102	"主頁：%s 翻譯：風鈴夜思雨"
	103	"用法: innounp [命令] [選項] <setup.exe 或 setup.0> [@檔案列表] [檔案掩碼 ...]"
	104	"命令:"
	105	"  (無)      顯示安裝程序的一般信息"
	106	"  -v        顯示檔案的完整路徑名、檔案大小及時間戳"
	107	"  -x        從安裝程序中提取檔案( -d 則提取到當前目錄)"
	108	"  -e        提取檔案到同一個檔案夾，不解析路徑"
	171	"  -t        測試檔案完整性"
	109	"選項:"
	110	"  -b        自動處理模式(無人值守) - 不會提示輸入密碼或磁盤改變等信息"
	111	"  -q        提取檔案時不顯示工作進度"
	112	"  -m        提取內嵌檔案(例如 許可文檔、uninstall.exe)"
	113	"  -p密碼    當安裝程序有加密時，在此指定密碼"
	114	"  -d路徑    將檔案提取到指定路徑(可以是絕對或相對路徑)"
	115	"  -c路徑    指定安裝程序的當前路徑名"
	116	"  -n        不嘗試新版本的解包"
	117	"  -f檔案    功能等同于 -p，但密碼是從檔案中讀取"
	118	"  -a        提取重復檔案的所有副本"
	167	"  -y        詢問確認所有相同檔案 (例如: 覆蓋檔案)"
	119	"  -s1..12   設置此值可提高無法識別版本的可能性，推薦值：10"
	120	"  -r版本    指定一個Inno版本號進行提取檔案 (例如：-r5103)"
	121	"  -k        使用窮舉版本法對未知版本安裝包進行解包 (beta2)"
	122	"從 “%s” 檔案中讀取密碼失敗，將使用空密碼。"
	123	"警告: 密碼錯誤"
	124	"壓縮方式：%s"
	125	"檔案數: %d ; 字節數: %s"
	126	" ; 磁盤占用: %d"
	127	"%d 個加密檔案"
	128	"已編譯的 Pascal 腳本: %d 字節"
	129	"      大小  時間戳            檔案名"
	130	"解包失敗，不支持該版本。"
	131	"此安裝檔案已損壞，或不支持該版本，或者它根本就不是 Inno Setup 安裝程序。"
	132	"安裝檔案已被損壞。"
	133	"錯誤 (%s) ""%s"", 地址 %s"
	134	"; 檢測到版本號: %d"
	135	"嚴重錯誤: %s"
	136	"異常類: %s 信息: %s"
	137	"無法打開或讀取指定的檔案: “%s”"
	138	"; 版本標志: %s"
	139	"; 檢測到版本號: %d"
	140	"; 指定的版本號: %d"
	141	"檢測到版本標志: %s。這是一個不支持的版本。"
	142	"這是一個不直接支持的版本，但會嘗試用 %d 版本進行解包。"
	143	"; 檢測到版本標志: %s"
	144	"安裝腳本.iss"
	145	"; 自動取得的密碼為：%s"
	146	"; 密碼檢查 Hash: %s"
	147	"; 密碼 MD5 Hash: %s"
	148	"; 密碼安全 Salt: %s"
	149	"安裝檔案已損壞，請獲取程序的新版本。"
	150	"嘗試讀取源檔案時出現錯誤:"
	151	"嘗試拷貝一個檔案時出現錯誤:"
	152	"安裝程序無法創建目錄“%1”"
	153	"%1.%n%n錯誤 %2: %3"
	154	"安裝檔案已損壞，請獲取程序的新版本。"
	155	"安裝檔案已損壞，或者與此版本的安裝程序不兼容，請糾正問題或者獲取程序的新版本。"
	156	"無法在目錄“%1”中創建一個檔案，因為該目錄包含過多的檔案"
	157	"%1 失敗; 代碼 %2"
	158	"%1 失敗; 代碼 %2.%n%3"
	159	"源檔案已損壞"
	160	"; 無法找到一個必要的檔案: %s"
	161	"; 正在提取檔案 %s"
	162	"一個檔案已被加密但是未指定密碼"
	163	"請輸入一個密碼 (為空直接退出)"
	164	"N/A"
	165	"密碼錯誤"
	166	"支持的 Inno Setup 版本: "
	168	"檔案“%s”已存在。覆蓋嗎？"
	169	"是(Y) / 否(N) / 總是(A) / 全部跳過(S) / 退出(Q) ？"
	170	"; 密碼 SHA1 Hash: %s"
END
