#pragma code_page(1252)
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN
	100	"innounp, Inno Setup Unpacker enhanced version %s %s"
	101	"Updated: Laihongbo Build Date: %s"
	102	"Homepage: %s   English trans.: equis (ru-board.com)"
	103	"Usage: innounp [command] [options] <setup.exe or setup.0> [@filelist] [filemask ...]"
	104	"Commands:"
	105	"  (no)      display general installation info"
	106	"  -v        verbosely list the files (with sizes and timestamps)"
	107	"  -x        extract the files from the installation (to the current directory, also see -d)"
	108	"  -e        extract files without paths"
	171	"  -t        test files for integrity"
	109	"Options:"
	110	"  -b        batch (non-interactive) mode - will not prompt for password or disk changes"
	111	"  -q        do not indicate progress while extracting"
	112	"  -m        extract internal embedded files (such as license and uninstall.exe)"
	113	"  -pPASS    decrypt the installation with a password"
	114	"  -dDIR     extract the files into DIR (can be absolute or relative path)"
	115	"  -cDIR     specifies that DIR is the current directory in the installation"
	116	"  -n        don't attempt to unpack new versions"
	117	"  -fFILE    same as -p but reads the password from FILE"
	118	"  -a        extract all copies of duplicate files"
	167	"  -y        assume Yes on all queries (e.g. overwrite files)"
	119	"  -s1..12   set this option to a higher value to improve detection of installation package version (recommended value: -s10)"
	120	"  -rVER     use custom defined script to extract files (example: -r5103)"
	121	"  -k        perform extensive scan if installation package version is unknown or impossible to detect (beta2)"
	122	"Failed to read ""%s"". No password will be used"
	123	"Warning: incorrect password"
	124	"Compression used: %s"
	125	"Files: %d ; Bytes: %s"
	126	"; Disk slices: %d"
	127	"%d file(s) are encrypted"
	128	"Compiled Pascal script: %d byte(s)"
	129	"Size        Time              Filename"
	130	"Unpacking failed. This version is not supported."
	131	"The setup files are corrupted or made by incompatible version. Maybe it's not an Inno Setup installation at all."
	132	"Setup files are corrupted."
	133	"Error (%s) ""%s"" at address %s"
	134	"; Version detected: %d"
	135	"Critical error: %s"
	136	"Exception class %s with message: %s"
	137	"Cannot open or read the specified file: ""%s"""
	138	"; Signature: %s"
	139	"; Version detected: %d"
	140	"; Version specified: %d"
	141	"Signature detected: %s. This is not a supported version."
	142	"This is not directly supported, but I'll try to unpack it as version %d"
	143	"; Signature detected: %s"
	144	"install_script.iss"
	145	"; Password obtained automatically: %s"
	146	"; Password Check Hash: %s"
	147	"; Password MD5 Hash: %s"
	148	"; Password Salt: %s"
	149	"Failed to recognize the file(s) as a valid Inno Setup installer. The setup files may be corrupted or made by an incompatible version."
	150	"An error occurred while trying to read the source file:"
	151	"An error occurred while trying to copy a file:"
	152	"Setup was unable to create the directory ""%1"""
	153	"%1.%n%nError %2: %3"
	154	"The setup files are corrupted. Please obtain a new copy of the program."
	155	"The setup files are corrupted, or are incompatible with this version of Setup. Please correct the problem or obtain a new copy of the program."
	156	"Unable to create a file in the directory ""%1"" because it contains too many files"
	157	"%1 failed; code %2"
	158	"%1 failed; code %2.%n%3"
	159	"The source file is corrupted"
	160	"; Could not find a necessary file: %s"
	161	"; Reading slice %s"
	162	"A file is encrypted but no password has been specified"
	163	"Type in a password (empty string to quit)"
	164	"N/A"
	165	"Wrong password"
	166	"Supported Inno Setup versions: "
	168	"File ""%s"" already exists. Overwrite?"
	169	"(Y)es / (N)o / (A)lways / (S)kip all / (Q)uit ?"
	170	"; Password SHA1 Hash: %s"
END