#pragma code_page(1251)
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN
	100	"innounp, Inno Setup Unpacker расширенная версия, сборка %s %s"
	101	"Доработана: Laihongbo Дата сборки: %s"
	102	"Дом. страница: %s   Локализация: equis (ru-board.com)"
	103	"Формат: innounp [команда] [ключи] <setup.exe или setup.0> [@файлы-списки] [файлы по маске ...]"
	104	"Команды:"
	105	"  (нет)     общая информация и справка"
	106	"  -v        вывести список файлов (с указанием размера файлов и даты)"
	107	"  -x        извлечь файлы из инсталлятора (в текущую директорию, см. также -d)"
	108	"  -e        извлечь файлы без путей"
	171	"  -t        проверить целостность файлов"
	109	"Ключи:"
	110	"  -b        пакетная обработка (неинтерактивная) без запроса пароля и пути"
	111	"  -q        не показывать прогресс извлечения"
	112	"  -m        извлечь служебные файлы (напр. лицензию и uninstall.exe)"
	113	"  -pPASS    использовать пароль для распаковки зашифрованных инсталляторов"
	114	"  -dDIR     извлечь файлы в директорию DIR (абсолютный или относительный путь)"
	115	"  -cDIR     указать DIR в качестве текущей директории в инсталляторе"
	116	"  -n        не пытаться распаковать новейшие версии"
	117	"  -fFILE    аналогично -p, однако пароль берется из файла FILE"
	118	"  -a        извлечь все дубликаты файлов"
	167	"  -y        подразумевать ответ 'да' на все запросы (напр. о перезаписи файлов)"
	119	"  -s1..12   настроить автоопределение версии упаковщика (рекомендуемое: -s10)"
	120	"  -rVER     вручную указать версию сценария для распаковки (напр.: -r5103)"
	121	"  -k        расширенное сканирование, если версия упаковщика неизвестна или не поддается определению (beta2)"
	122	"Не удалось прочесть ""%s"". Попытка прочесть без пароля"
	123	"Внимание: неверный пароль"
	124	"Компрессия: %s"
	125	"Файлы: %d ; Байты: %s"
	126	"; Разделы диска: %d"
	127	"%d файл(ов) зашифровано"
	128	"Готовый сценарий Pascal: %d байт"
	129	"Размер        Дата              Имя файла"
	130	"Распаковка невозможна. Данная версия не поддерживается."
	131	"Установочные файлы повреждены или версия упаковщика не поддерживается. Возможно, это вовсе не инсталлятор Inno Setup."
	132	"Установочные файлы повреждены."
	133	"Ошибка (%s) ""%s"" по адресу %s"
	134	"; Обнаружена версия: %d"
	135	"Критическая ошибка: %s"
	136	"Обнаружено исключение %s с сообщением: %s"
	137	"Не удалось открыть или прочесть данный файл: ""%s"""
	138	"; Подпись: %s"
	139	"; Обнаружена версия: %d"
	140	"; Указана версия: %d"
	141	"Обнаружена подпись: %s. Данная версия не поддерживается."
	142	"Данная версия не поддерживается, однако будет предпринята попытка распаковки как версии %d"
	143	"; Обнаружена подпись: %s"
	144	"сценарий_установки.iss"
	145	"; Автоматически определен пароль: %s"
	146	"; Password Check Hash: %s"
	147	"; Password MD5 Hash: %s"
	148	"; Password Salt: %s"
	149	"Не удалось определить версию упаковщика Inno. Установочные файлы повреждены, либо эта версия не поддерживается."
	150	"Ошибка при попытке чтения файла:"
	151	"Ошибка при попытке копирования файла:"
	152	"Не удалось создать директорию ""%1"""
	153	"%1.%n%nОшибка %2: %3"
	154	"Установочные файлы повреждены. Пожалуйста, получите новую копию программы."
	155	"Установочные файлы повреждены, либо эта версия не поддерживается. Пожалуйста, устраните эту проблему или получите новую копию программы."
	156	"Не удалось создать файл в директории ""%1"", т.к. она содержит слишком много файлов"
	157	"%1 - невыполнимая операция; код ошибки %2"
	158	"%1 - невыполнимая операция; код ошибки %2.%n%3"
	159	"Исходный файл поврежден"
	160	"; Не удалось найти необходимый файл: %s"
	161	"; Чтение раздела %s"
	162	"Файл зашифрован, однако пароль для дешифрации не указан"
	163	"Введите пароль (пустое значение для выхода)"
	164	"нет данных"
	165	"Неверный пароль"
	166	"Поддерживаемые версии Inno Setup: "
	168	"Файл ""%s"" уже существует. Заменить?"
	169	"Y(да) / N(нет) / A(всегда) / S(пропустить все) / Q(отмена) ?"
	170	"; Password SHA1 Hash: %s"
END