#pragma code_page(936)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE DISCARDABLE
BEGIN
	100	"innounp, Inno Setup Unpacker %s 增强版 %s"
	101	"修改者：风铃夜思雨 构建于：%s"
	102	"主页：%s 翻译：风铃夜思雨"
	103	"用法: innounp [命令] [选项] <setup.exe 或 setup.0> [@文件列表] [文件掩码 ...]"
	104	"命令:"
	105	"  (无)      显示安装程序的一般信息"
	106	"  -v        显示文件的完整路径名、文件大小及时间戳"
	107	"  -x        从安装程序中提取文件( -d 则提取到当前目录)"
	108	"  -e        提取文件到同一个文件夹，不解析路径"
	171	"  -t        测试文件完整性"
	109	"选项:"
	110	"  -b        自动处理模式(无人值守) - 不会提示输入密码或磁盘改变等信息"
	111	"  -q        提取文件时不显示工作进度"
	112	"  -m        提取内嵌文件(例如 许可文档、uninstall.exe)"
	113	"  -p密码    当安装程序有加密时，在此指定密码"
	114	"  -d路径    将文件提取到指定路径(可以是绝对或相对路径)"
	115	"  -c路径    指定安装程序的当前路径名"
	116	"  -n        不尝试新版本的解包"
	117	"  -f文件    功能等同于 -p，但密码是从文件中读取"
	118	"  -a        提取重复文件的所有副本"
	167	"  -y        询问确认所有相同文件 (例如: 覆盖文件)"
	119	"  -s1..12   设置此值可提高无法识别版本的可能性，推荐值：10"
	120	"  -r版本    指定一个Inno版本号进行提取文件 (例如：-r5103)"
	121	"  -k        使用穷举版本法对未知版本安装包进行解包 (beta2)"
	122	"从 “%s” 文件中读取密码失败，将使用空密码。"
	123	"警告: 密码错误"
	124	"压缩方式：%s"
	125	"文件数: %d ; 字节数: %s"
	126	" ; 磁盘占用: %d"
	127	"%d 个加密文件"
	128	"已编译的 Pascal 脚本: %d 字节"
	129	"      大小  时间戳            文件名"
	130	"解包失败，不支持该版本。"
	131	"此安装文件已损坏，或不支持该版本，或者它根本就不是 Inno Setup 安装程序。"
	132	"安装文件已被损坏。"
	133	"错误 (%s) ""%s"", 地址 %s"
	134	"; 检测到版本号: %d"
	135	"严重错误: %s"
	136	"异常类: %s 信息: %s"
	137	"无法打开或读取指定的文件: “%s”"
	138	"; 版本标志: %s"
	139	"; 检测到版本号: %d"
	140	"; 指定的版本号: %d"
	141	"检测到版本标志: %s。这是一个不支持的版本。"
	142	"这是一个不直接支持的版本，但会尝试用 %d 版本进行解包。"
	143	"; 检测到版本标志: %s"
	144	"安装脚本.iss"
	145	"; 自动取得的密码为：%s"
	146	"; 密码检查 Hash: %s"
	147	"; 密码 MD5 Hash: %s"
	148	"; 密码安全 Salt: %s"
	149	"安装文件已损坏，请获取程序的新版本。"
	150	"尝试读取源文件时出现错误:"
	151	"尝试复制一个文件时出现错误:"
	152	"安装程序无法创建目录“%1”"
	153	"%1.%n%n错误 %2: %3"
	154	"安装文件已损坏，请获取程序的新版本。"
	155	"安装文件已损坏，或者与此版本的安装程序不兼容，请纠正问题或者获取程序的新版本。"
	156	"无法在目录“%1”中创建一个文件，因为该目录包含过多的文件"
	157	"%1 失败; 代码 %2"
	158	"%1 失败; 代码 %2.%n%3"
	159	"源文件已损坏"
	160	"; 无法找到一个必要的文件: %s"
	161	"; 正在提取文件 %s"
	162	"一个文件已被加密但是未指定密码"
	163	"请输入一个密码 (为空直接退出)"
	164	"N/A"
	165	"密码错误"
	166	"支持的 Inno Setup 版本: "
	168	"文件“%s”已存在。覆盖吗？"
	169	"是(Y) / 否(N) / 总是(A) / 全部跳过(S) / 退出(Q) ？"
	170	"; 密码 SHA1 Hash: %s"
END